asgiref==3.2.7
beautifulsoup4==4.9.0
Django==3.0.5
django-bootstrap4==1.1.1
django-extensions==2.2.9
django-js-asset==1.2.2
django-tinymce4-lite==1.8.0
jsmin==2.2.2
pytz==2020.1
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
