.centrado {
  margin: auto;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: Patua-One;
  color: var(--post-color);
  padding: 3%;
}

.titulo {
  font-family: Staatliches;
  font-size: 25px;
  color: var(--inside-color);
}

.ig-link {
  color: var(--inside-color-2);
}

.ig-link:hover {
  color: var(--inside-color);
}

/* Mantener footer abajo */
body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:auto;
}

@media (min-width: 900px) {
  .centrado {
    width: 80%;
    border: 1px dashed var(--inside-color);
  }
}
