.articulo {
  font-family: Staatliches;
  padding-bottom: 3%;
  padding-top: 3%;
  color: var(--post-color);
  margin-left: 3%;
  width: 97%;
}

.titulo {
  font-size: 30px;
  margin-bottom: 1%;
}


.cuerpo {
  font-family: Patua-One;
}

.formulario {
  border-top: 1px dashed var(--inside-color);
  padding-top: 3%;
}

.form {
  margin-left: 3%;
  width: 97%;
}

@media (min-width: 900px) {
  .titulo {
    font-size: 50px;
  }
  .articulo {
    width: 67%;
    border-right: 1px dashed var(--inside-color);
  }
  .formulario {
    width: 30%;
  }
}
