{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/enviar_mi_contenido.css' %}">
<div class="container">
  <div class="centrado">
    <h5 class="titulo">¿Cómo enviar mi contenido para que sea publicado?</h5>
    <h6 class="bajada">
      Para publicar tus producciones envianos por e-mail a <b>festival.juventud.brc@gmail.com</b> un
      <b>documento de texto</b> adjunto (WORD o PDF) que contenga:
    </h6>
    <ul>
      <li>
        Datos del/de la autor/a: nombre y apellido; pseudónimo/nombre artístico (opcional);
        ciudad de residencia; redes sociales/sitios web donde encontrarte (opcional).
      </li>
      <li>
        Tu producción: El <b><u>título</u></b> debe estar <b><u>subrayado</u></b> y en <b><u>negrita</u></b>,
        el cuerpo será transcripto exactamente igual a como esté en el documento; la extensión debe ser óptima para el
        formato de la plataforma web (textos demasiado largos no podrán ser publicados)
      </li>
      <li>
        Si es  más de una producción: ordenarlas por orden de preferencia (la primera será la que más prefieren que sea
        publicada) ya que no siempre será posible publicar todas; debe ser claramente diferenciable el fin de una
        producción y el comienzo de la siguiente (Dejar espacio, escribir el título con el formato solicitado).
      </li>
    </ul>
    <h6>
      Los administradores nos reservamos el derecho de admisión.
    </h6>
    <h6>
      Para cualquier consulta podés escribirnos a nuestro e-mail <b>festival.juventud.brc@gmail.com</b> o por nuestro
      Instagram <a class="ig-link" href="https://www.instagram.com/chaskiboomfest/">@chaskiboomfest</a>.
    </h6>
  </div>
</div>

{% endblock %}
