{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/enviar_mi_contenido.css' %}">
<div class="container">
  <div class="centrado">
    <h5 class="titulo">¿Cómo enviar mi contenido para que sea publicado?</h5>
    <ul>
      <li>Paso 1</li>
      <li>Paso 2</li>
      <li>Paso 3</li>
      <li>Paso 4</li>
      <li>Paso 5</li>
      <li>Paso 6</li>
    </ul>
    <h6>Enviar a: <b>festival.juventud.brc@gmail.com</b></h6>
  </div>

</div>

{% endblock %}
