{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
  <div class="footer-content">
    <div class="col">
      <a href="http://www.chaskiboom.com">
        <img class="icono" src="{% static 'icons/chaski_logo.png' %}" alt="twitter">
      </a>
      <a href="https://www.instagram.com/chaskiboomfest/">
        <img class="icono" class="icono" src="{% static 'icons/instagram.svg' %}" alt="instagram">
      </a>
    </div>
  </div>
  <div class="creditos">
    Diseño y desarrollo de voxpopuli-virtual: Lautaro Pastorino
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>
</footer>
