{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<div class="main">
  <div class="contenedor">
    <div class="row">
      <div class="col-4">
        <div class="ultimos">
          <h6>Nuevos:</h6>
          <ul class="lista-ultimos">
            {% for a in articulos %}
              <li><a class="item-lista" href="{{a.get_absolute_url}}">
                <img class="icono-flecha" src="{% static '/icons/svg/chevron-right.svg'%}">{{a.titulo}} - {{a.autor.nombre}}
              </a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-8 ultimo-articulo">
        <div class="ultimo-fecha">{{ultimo.fecha_publicacion}}</div>
        <div class="ultimo-titulo">{{ultimo.titulo}}</div>
        <div class="ultimo-cuerpo">{{ultimo.cuerpo|safe}}</div>
        <div class="ultimo-autor">{{ultimo.autor.nombre}}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
