{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="/">Vox Populi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><img class="menu-icon" src="{% static 'icons/svg/menu.svg' %}"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto .navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/post-list">Todos los posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/suscribirse">Suscribirse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/enviar_mi_contenido">Enviar mi contenido</a>
      </li>
      <li class="dark-toggler">
        <a href="#-1"><img class="moon-icon" src="{% static 'icons/svg/moon.svg' %}"></a>
      </li>
  </ul>
  <form class="form-inline my-2 my-lg-0" action="{% url 'posteos:search-results' %}" method="get">
      <input class="form-control mr-sm-2 busqueda" type="search" placeholder="Buscar en posts" name="q">
      <button class="btn btn-outline-primary my-2 my-sm-0 buscar" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<script>
  let root = document.documentElement;
  var dark_theme = false;
  $(".moon-icon").bind("click", function() {
    if (dark_theme) {
      root.style.setProperty("--inside-color", "#34495E");
      root.style.setProperty("--inside-color-2", "#5E345E");
      root.style.setProperty("--background-color", "#fff");
      root.style.setProperty("--post-color", "#000");
      $(".moon-icon").attr("src","{% static 'icons/svg/moon.svg' %}");
      dark_theme = false;
    } else {
      root.style.setProperty("--inside-color", "#fff");
      root.style.setProperty("--inside-color-2", "#39E365");
      root.style.setProperty("--background-color", "#34495E");
      root.style.setProperty("--post-color", "#fff");
      $(".moon-icon").attr("src","{% static 'icons/svg/sun.svg' %}");
      dark_theme = true;
    }
  })
</script>
