.centrado {
  margin: auto;
  width: 80%;
}


.formulario {
  margin-top: 8%;
  margin-bottom: 8%;
}

.form {
  margin-left: 3%;
  width: 95%;
  font-family: Patua-One;
}

.form-title {
  font-family: Staatliches;
  font-size: 25px;
  margin-bottom: 3%;
  color: var(--post-color);
}

 .email-lbl {
   color: var(--post-color);
 }

#exampleInputEmail1:focus {
    border-color: var(--inside-color);
    box-shadow: 0 0 0 0.2rem var(--inside-color);
}

.button-background {
  background-color: var(--inside-color);
  border-color: black;
  color: var(--background-color);
}

.button-background:hover {
  background-color: var(--inside-color-2);
  border-color: black;
}

.mensaje-exito, .mensaje-fallo {
  color: var(--post-color);
  font-family: Patua-One;
  margin-left: 3%;
  margin-bottom: 1%;
}

/* Mantener footer abajo */
body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:auto;
}
